# Pandas Time Series Analysis Part 1: 
# DatetimeIndex and Resample





https://www.youtube.com/watch?v=r0s4slGHwzE&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy&index=15&t=0s

Download Nasdaq:AAPL historical data
https://finance.yahoo.com/quote/AAPL/history?period1=345445200&period2=1573275600&interval=1d&filter=history&frequency=1d

TimeSeries is a set of date points indexed in time order

Datetime Index & Resampling

## Functions Covered

df = pd.read_csv('AAPL.csv', parse_dates=['Date'], index_col='Date')

df.index

---

df['2017-01']

---

df['2017-01'].mean()

---

df['2017-01-01' : '2017-01-05']

---

df['2017-01-03'] 

---

df['Close'].resample('M').mean()  Resample by month and calculate the mean of the data

---

%matplotlib inline

df['Close'].resample('Q').mean().plot()   Resample by quarter, calculate the mean of the data and plot the results

---

In [1]:
import pandas as pd

df = pd.read_csv('AAPL.csv', parse_dates=['Date'], index_col='Date')
df.head()

                Open      High       Low     Close  Adj Close       Volume
Date
1980-12-12  0.513393  0.515625  0.513393  0.513393   0.407747  117258400.0
1980-12-15  0.488839  0.488839  0.486607  0.486607   0.386473   43971200.0
1980-12-16  0.453125  0.453125  0.450893  0.450893   0.358108   26432000.0
1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366972   21610400.0
1980-12-18  0.475446  0.477679  0.475446  0.475446   0.377609   18362400.0

In [2]:
df.index
# Note:  The index if of type DatetimeIndex which provides many benefits.

DatetimeIndex(['1980-12-12', '1980-12-15', '1980-12-16', '1980-12-17',
               '1980-12-18', '1980-12-19', '1980-12-22', '1980-12-23',
               '1980-12-24', '1980-12-26',
               ...
               '2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31',
               '2019-11-01', '2019-11-04', '2019-11-05', '2019-11-06',
               '2019-11-07', '2019-11-08'],
              dtype='datetime64[ns]', name='Date', length=9812, freq=None)

# Retrieve Jan 2017 stock prices

In [3]:
df['2017-01']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,110.953873,28781900.0
2017-01-04,115.849998,116.510002,115.750000,116.019997,110.829704,21118100.0
2017-01-05,115.919998,116.860001,115.809998,116.610001,111.393303,22193600.0
2017-01-06,116.779999,118.160004,116.470001,117.910004,112.635139,31751900.0
2017-01-09,117.949997,119.430000,117.940002,118.989998,113.666824,33561900.0
2017-01-10,118.769997,119.379997,118.300003,119.110001,113.781464,24462100.0
2017-01-11,118.739998,119.930000,118.599998,119.750000,114.392822,27588600.0
2017-01-12,118.900002,119.300003,118.209999,119.250000,113.915184,27086200.0
2017-01-13,119.110001,119.620003,118.809998,119.040001,113.714584,26111900.0
2017-01-17,118.339996,120.239998,118.220001,120.000000,114.631653,34439800.0
2017-01-18,120.000000,120.500000,119.709999,119.989998,114.622086,23713000.0
2017-01-19,119.400002,120.089996,119.370003,119.779999,114.421486,25597300.0
2017-01-20,120.449997,120.449997,119.730003,120.000000,114.631653,32597900.0
2017-01-23,120.000000,120.809998,119.769997,120.080002,114.708061,22050200.0
2017-01-24,119.550003,120.099998,119.500000,119.970001,114.602982,23211000.0
2017-01-25,120.419998,122.099998,120.279999,121.879997,116.427536,32377600.0
2017-01-26,121.669998,122.440002,121.599998,121.940002,116.484856,26337600.0
2017-01-27,122.139999,122.349998,121.599998,121.949997,116.494415,20562900.0
2017-01-30,120.930000,121.629997,120.660004,121.629997,116.188705,30377500.0
2017-01-31,121.150002,121.389999,120.620003,121.349998,115.921227,49201000.0

# Find average price of stock in the month of Jan, 2017

In [4]:
df['2017-01'].mean()

Open         1.190935e+02
High         1.198810e+02
Low          1.187855e+02
Close        1.195700e+02
Adj Close    1.142209e+02
Volume       2.815610e+07
dtype: float64

# Retrieve the price on any given date

In [5]:
df['2017-01-01' : '2017-01-05']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,110.953873,28781900.0
2017-01-04,115.849998,116.510002,115.750000,116.019997,110.829704,21118100.0
2017-01-05,115.919998,116.860001,115.809998,116.610001,111.393303,22193600.0

In [24]:
print(df.index[0])

df[df.index[0]]  # Not sure why this fails
#df['2017-01-03']  # Not sure why this fails

1980-12-12 00:00:00

KeyError: Timestamp('1980-12-12 00:00:00')

# Resampling

Convert daily data into monthly data

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

df['Close'].resample('M').mean()

# Shows the monthly averages of the closing price

In [ ]:
%matplotlib inline
#df['Close'].resample('M').mean().plot() # Monthly
df['Close'].resample('Q').mean().plot() # Quarterly
#df['Close'].resample('Q').mean().plot(kind='bar') # Quarterly